.banner {
	position: relative;
	width: calc(100% - 40px);
	margin: 0 auto;
	height: 220px;

	img {
		position: absolute;
		top: 60px;
		left: 0;
		right: 0;
		margin: auto;
		width: 130px;
		display: block;
	}
}

.form {
	h2 {
		margin: 0;
		color: var(--text-dark);
		font-weight: 600;
		font-size: 1.3rem;
		line-height: 21px;
		padding-bottom: 24px;
	}

	.or_continue_with {
		padding-top: 40px;

		.button.btn.button-block {
			margin-bottom: 15px;

			img {
				width: 18px;
				position: relative;
				left: -11px;
			}


			

		}
	}
}