<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-title  *ngIf="!otpScreen"></ion-title>
		<!-- <ion-title *ngIf="otpScreen"></ion-title> -->
	</ion-toolbar>
</ion-header>

<ion-content *ngIf="!otpScreen" padding>
	<div class="banner ion-text-center">
		<img src="assets/images/dark_logo.jpeg">
	</div>
	<div class="form">
		<!-- <h2>{{'enter_phone_number' | translate}}<br>{{'to_continue' | translate}}</h2> -->
		<ion-list lines="none">
			<ion-item lines="none">
				<div class="item_inner">
					<ion-input type="number" value="" placeholder="{{'enter_phone_number' | translate}}" [(ngModel)]="cellNumber"></ion-input>
				</div>
			</ion-item>
			<ion-button size="large" shape="block" class="btn" (click)="continue()" id="phoneNumber">{{'continue' | translate}}</ion-button>
		</ion-list>
	</div>
</ion-content>

<!-- <ion-content> -->
	<!-- <div> -->
		<!-- <p>
			{{'verification_tex1' | translate}}<br>
			{{'verification_tex2' | translate}}<br>
			{{'verification_tex3' | translate}}
		</p>
		<ion-list lines="none">
			<ion-item lines="none">
				<div class="item_inner">
					<ion-label position="fixed">{{'enter_otp' | translate}}</ion-label>
					<ion-input type="name" value="" placeholder="{{'enter_6_digit_otp' | translate}}" [(ngModel)]="otpNumber"></ion-input>
				</div>
			</ion-item>
			<ion-button size="large" shape="block" class="btn" (click)="verify()">{{'continue' | translate}}</ion-button>
		</ion-list>
		<h2 class="d-flex">
		
			<span class="end">{{'send_again' | translate}}</span>
		</h2> -->
	<!-- </div> -->
<!-- </ion-content> -->
  <div id="recaptcha-container"></div>