ion-list {
	background: var(--transparent) !important;
	margin: 0;
	padding: 0;
	padding-top: 26px;

	ion-item {
		padding: 5px 23px;
		min-height: unset !important;
		--inner-padding-end: 0px;
		--inner-min-height: unset !important;
		--padding-start: 0;
		--highligh-color-focused: var(--transparent) !important;
		margin-bottom: 5px;
		background: var(--white);
		transition: all .5s;
		--min-height: unset !important;

		.item_inner {
			h2 {
				margin: 0;
				margin: 0;
				font-size: 1.22rem;
				font-weight: 600;
				padding: 10px 0;
			}

			.text_box {
				padding-left: 20px;
				height: 0px;
				overflow: hidden;
				transition: all .5s;

				p {
					margin: 0;
					font-size: 1.1rem;
					font-weight: 500;
					padding-bottom: 13px;
					line-height: 23px;
					padding-top: 4px;

				}
			}
		}

		&.active {
			transition: all .5s;

			.item_inner .text_box {
				height: auto;
				transition: all .5s;
			}
		}
	}
}
