<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>
		</ion-title>
	</ion-toolbar>
	<h1>{{'faq' | translate}}</h1>
</ion-header>


<ion-content>
	<ion-list lines="none">
		<ion-item [ngClass]="faqExpand1 ? 'active' : '' " (click)="faqExpandToggle1()">
			<div class="item_inner">
				<h2>1. How to Login to App?</h2>
				<div class="text_box">
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				</div>
			</div>
		</ion-item>
		
		<ion-item [ngClass]="faqExpand2 ? 'active' : '' " (click)="faqExpandToggle2()">
			<div class="item_inner">
				<h2>2. How  to book an Appointment?</h2>
				<div class="text_box">
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				</div>
			</div>
		</ion-item>
		
		<ion-item [ngClass]="faqExpand3 ? 'active' : '' " (click)="faqExpandToggle3()">
			<div class="item_inner">
				<h2>3. How to cancel an Appointment?</h2>
				<div class="text_box">
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				</div>
			</div>
		</ion-item>
		
		<ion-item [ngClass]="faqExpand4 ? 'active' : '' " (click)="faqExpandToggle4()">
			<div class="item_inner">
				<h2>4.What if I failed to book?</h2>
				<div class="text_box">
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				</div>
			</div>
		</ion-item>
		
		<ion-item [ngClass]="faqExpand5 ? 'active' : '' " (click)="faqExpandToggle5()">
			<div class="item_inner">
				<h2>5. How  to payment?</h2>
				<div class="text_box">
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				</div>
			</div>
		</ion-item>
		
		
		<ion-item [ngClass]="faqExpand6 ? 'active' : '' " (click)="faqExpandToggle6()">
			<div class="item_inner">
				<h2>6. Payment modes available?</h2>
				<div class="text_box">
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				</div>
			</div>
		</ion-item>
		
		
		<ion-item [ngClass]="faqExpand7 ? 'active' : '' " (click)="faqExpandToggle7()">
			<div class="item_inner">
				<h2>7. What if failed to book?</h2>
				<div class="text_box">
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				</div>
			</div>
		</ion-item>
		
		
		<ion-item [ngClass]="faqExpand8 ? 'active' : '' " (click)="faqExpandToggle8()">
			<div class="item_inner">
				<h2>8. How  to Payment?</h2>
				<div class="text_box">
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				</div>
			</div>
		</ion-item>
		
		
		<ion-item [ngClass]="faqExpand9 ? 'active' : '' " (click)="faqExpandToggle9()">
			<div class="item_inner">
				<h2>9. Payment modes available?</h2>
				<div class="text_box">
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				</div>
			</div>
		</ion-item>
		
		
		<ion-item [ngClass]="faqExpand10 ? 'active' : '' " (click)="faqExpandToggle10()">
			<div class="item_inner">
				<h2>2. What if failed to book?</h2>
				<div class="text_box">
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				</div>
			</div>
		</ion-item>
	</ion-list>
</ion-content>