<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
		</ion-buttons>
		<ion-title></ion-title>
		<!-- <ion-title *ngIf="otpScreen"></ion-title> -->
	</ion-toolbar>
	<h1>{{'verification' | translate}}</h1>
</ion-header>

<ion-content fullscreen>
	<div class="form">
		
		<ion-list lines="none">
			<ion-item lines="none">
				<div class="item_inner">
					<ion-label position="fixed">{{'enter_otp' | translate}}</ion-label>
					<ion-input type="text" value="" placeholder="{{'enter_6_digit_otp' | translate}}" [(ngModel)]="otpNumber"></ion-input>
				</div>
			</ion-item>
			<ion-button size="large" shape="block" class="btn" (click)="verify()">{{'continue' | translate}}</ion-button>
		</ion-list>
		<h2 class="d-flex">
		
			<span class="end" (click)="sendotp()">{{'send_again' | translate}}</span>
		</h2>
	</div>
</ion-content>
<div id="recaptcha-container"></div>