.form {
	padding-top: 20px;

	p {
		margin: 0;
		color: var(--text-light2);
		font-weight: 500;
		font-size: 1.23rem;
		padding-bottom: 50px;
	}

	h2 {
		margin: 0;
		font-weight: 500;
		color: var(--text-dark2);
		font-size: 1.25rem;
		font-weight: 600;
		padding-top: 30px;

		span {
			color: var(--primary);
			font-size: 1.3rem;
		}
	}
}