ion-header {
	ion-toolbar ion-title {
		ion-button.btn {
			width: fit-content;
			height: 55px;
			font-size: 1.1rem;
			font-weight: 400;
			--background: var(--transparent);
			--padding-end: 0;
			--padding-start: 0;
			padding: 0 0px;
			--color: var(--primary) !important;
			font-weight: 700;
			letter-spacing: 0 !important;
			font-size: 1.5rem;
		}
	}

	.search_box {
		background: var(--input_filed_bg);
		width: calc(100% - 0px);
		border-radius: 3px;
		margin: 0 auto;
		padding: 0 15px;
		position: relative;
		overflow: hidden;
		min-height: 55px;
		z-index: 99;

		ion-icon {
			color: var(--text-dark2);
			font-size: 1.4rem;
			min-width: 35px;
			height: 35px;
			line-height: 35px;
			z-index: 99;

			&.zmdi-gps-dot {
				font-size: 1.5rem; 
			}
		}

		ion-searchbar {
			--background: var(--transparent) !important;
			--color: var(--text-light);
			--placeholder-opacity: 1;
			--placeholder-font-weight: 400 !important;
			--box-shadow: none !important;
			font-size: 1.4rem;
		}
	}
}
#map{
	height: 500px;
}
.map {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;

	img {
		width: 100%;
		height: 100%;
	}

	ion-icon {
		position: absolute;
		z-index: 99;
		color: var(--primary);
		font-size: 2.5rem;
		width: 24px;
		overflow: hidden;
	}
}