<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
		</ion-buttons>
		<ion-title>

		</ion-title>
	</ion-toolbar>
	<h1>
		{{'Appointment Information' | translate}}
		<small>{{'Confirmed on' | translate}} {{job?.date| date:'EEEE, MMMM d, y'}}</small>
	</h1>
</ion-header>


<ion-content fullscreen>
	<div class="form">
		<ion-list lines="none">

			<ion-item>
				<div class="item_inner">
					<h2>{{'your_appointment_for' | translate}}</h2>
					<h3>{{job?.category}}</h3>
				</div>
			</ion-item>

			<ion-item>
				<div class="item_inner">
					<h2>{{'date_time' | translate}}</h2>
					<h3>{{job?.date| date:'EEEE, MMMM d, y'}}</h3><br><h3>{{job?.time}}</h3> 
				</div>
			</ion-item>

			<ion-item>
				<div class="item_inner">
					<h2>{{'location_at' | translate}}</h2>
					<h3>{{job?.adrress_type}}</h3>
					<ion-textarea rows="1" readonly> {{job?.address}} </ion-textarea>
				</div>
			</ion-item>
			
			<ion-item>
				<div class="item_inner">
					<h2>Additional Information</h2>
					<ion-textarea auto-grow="true" rows="1" readonly>{{job?.information}}</ion-textarea>
					<h4></h4>
				</div>
			</ion-item>
			
		</ion-list>
	</div>
</ion-content>

<ion-footer class="ion-no-border d-flex">
	 <ion-row>
		 <ion-col size="12">
			 <ion-button size="large" fill="outline" shape="block" class="btn end" (click)="submit()">{{'Submit Proposal' | translate}}</ion-button>
		 </ion-col> 
	</ion-row>
	
</ion-footer>
