<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title></ion-title>
	</ion-toolbar>
	<h1>{{'Requests' | translate}}</h1>
</ion-header>

<ion-content>
	<ion-list lines="none">

		<ion-item (click)="appointment_info()">
			<div class="item_inner d-flex">
				<div class="date_time">
					<h3>13 June</h3>
					<h4>11:00 am</h4>
					<h5 class="d-flex">
						<ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
						Requests
					</h5>
				</div>
				<div class="appointment_details">
					<h3> Fix my Appliances </h3>
					<h4>Air Conditionar</h4>
					<h5>$140.00</h5>
				</div>
			</div>
		</ion-item>

		
	</ion-list>
</ion-content>
