ion-header ion-toolbar {
	position: absolute;
	left: 0;
	width: 100%;
}

.map {
	height: 380px;
	overflow: hidden;
	position: relative;

	ion-icon {
		position: absolute;
		z-index: 99;
		color: var(--primary);
		font-size: 2.2rem; 
		overflow: hidden;
	}

	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 50%;
		background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);

	}
}


ion-list {
	background: var(--transparent) !important;
	padding: 0;
	width: calc(100% - 40px);
	margin: 0 auto;

	ion-item {
		padding: 0px 0px;
		border-radius: 4px;
		background: var(--white);
		--inner-padding-end: 0px;
		--inner-min-height: unset !important;
		--padding-start: 0;
		--highligh-color-focused: var(--transparent) !important;
		--background: var(--transparent);
		--min-height: unset;
		margin-bottom: 35px;

		h2 {
			font-size: 1.4rem;
			padding-bottom: 8px;
			color: var(--text-dark);
			margin: 0;
			font-weight: 600;
		}

		p {
			color: var(--text-light);
			font-size: 1.12rem !important;
			font-weight: 400 !important;
			margin: 0;
		}

		ion-icon {
			background: var(--primary);
			color: var(--white);
			margin: 0;
			border-radius: 50%;
			min-width: 55px;
			height: 55px;
			line-height: 55px;
			font-size: 1.6rem;

		}
	}
}