<ion-header class="bg_transparent">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content fullscreen [scrollEvents]="true">
	<div class="map">
		<img src="assets/images/map.png">
		<ion-icon class="zmdi zmdi-pin" style="top:42%; right: 50%;"></ion-icon>
	</div>

	<ion-list lines="none">
		<ion-item>
			<div class="text_box">
				<h2>{{"we_are_here" | translate}}</h2>
				<p>1124, Red fort Villas, Hemilton Road, New York, USA</p>
			</div>
			<ion-icon class="zmdi zmdi-navigation ion-text-center" slot="end"></ion-icon>
		</ion-item>
		<ion-item>
			<div class="text_box">
				<h2>{{"call_us" | translate}}</h2>
				<p>+1 987 654 3210</p>
			</div>
			<ion-icon class="zmdi zmdi-phone ion-text-center" slot="end"></ion-icon>
		</ion-item>
		<ion-item>
			<div class="text_box">
				<h2>{{"email_us" | translate}}</h2>
				<p>repairhub@help.com</p>
			</div>
			<ion-icon class="zmdi zmdi-email ion-text-center" slot="end"></ion-icon>
		</ion-item>
	</ion-list>

</ion-content>