<!--
<ion-header>
  <ion-toolbar>
    <ion-title>title</ion-title>
  </ion-toolbar>
</ion-header>
-->
<ion-content (click)="dismiss()">

</ion-content>
<ion-footer no-border>
	<div class="form"> 
		<ion-list lines="none">
			<h1>{{'select_address_type' | translate}}</h1>
			<ion-radio-group [(ngModel)]="index" >
				<ion-row>
					<ion-col size="4" *ngFor="let item of addresses; let i = index">
						<ion-item lines="none">
							<ion-radio slot="start" [value]="i"></ion-radio>
							<ion-label class="d-flex">
								{{ item.address_type.toUpperCase() }}
							</ion-label>
						</ion-item>
					</ion-col>
				
				</ion-row>
				<ion-item lines="none">
					<ion-textarea rows="2" type="text" value="" placeholder="Address" [(ngModel)]="addresses[index].address"></ion-textarea>
				</ion-item>
			</ion-radio-group>
			<ion-button size="large" shape="block" class="btn" (click)="saveaddress()">{{'save_address' | translate}}</ion-button>
		</ion-list>
	</div>

</ion-footer>