ion-content {
	--background: rgba(0, 0, 0, 0) !important;
}

ion-footer {
	background: var(--white);
	padding: 20px 0;
	box-shadow: 0 -6px 10px 10px rgba(0, 0, 0, 0.1);

	.form {
		h1 {
			margin: 0;
			font-size: 1.35rem;
			font-weight: 700;
			padding-bottom: 20px;
		}

		ion-list {
			ion-item {
				ion-textarea {
					color: var(--text-light) !important;
					font-size: 1.14rem !important;
					font-weight: 400 !important;
					background: var(--input_filed_bg) !important;
					margin: 0 !important;
				}
			}

			ion-row {
				margin: 0 -10px;

				ion-col {
					padding: 0 10px;

					ion-item {
						padding: 0px 8px;
						border-radius: 4px;
						--min-height: 54px;
						margin: 0 auto;
						margin-bottom: 17px;
						background: var(--input_filed_bg) !important;

						ion-label {
							position: relative;
							margin: 0;
							color: var(--text-light) !important;
							font-size: 1.14rem !important;
							font-weight: 400 !important;
							margin: 0;
							padding: 0;
							display: block !important;
							text-align: center;
						}

						ion-radio {
							position: absolute;
							z-index: 999;
							width: 100%;
							height: 100%;
							margin: 0;
							--color: var(--transparent) !important;
							--color-checked: var(--transparent) !important;
						}

						&::before {
							content: '';
							position: absolute;
							top: 0;
							left: 0;
							bottom: 0;
							right: 0;
							width: 0;
							height: 0;
							margin: auto;
							background: var(--primary);
							transition: all .3s;
							border-radius: 4px;
						}

						&.item-radio-checked {
							border-color: var(--primary) !important;

							&::before {
								width: 100%;
								height: 100%;
							}

							ion-label {
								color: var(--white) !important;
							}

						}
					}
				}
			}


		}
	}
}
