<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
		</ion-buttons>
		<ion-title>
			<ion-icon class="zmdi zmdi-circle active"></ion-icon>
			<ion-icon class="zmdi zmdi-circle"></ion-icon>
			<ion-icon class="zmdi zmdi-circle"></ion-icon>
		</ion-title>
	</ion-toolbar>
	<h1>{{'select_task' | translate}}</h1>
</ion-header>

<ion-content fullscreen>
	<ion-list lines="none">
		<ion-radio-group value="biff">
			<ion-item>
				<ion-label>Refrigerator Repair</ion-label>
				<ion-radio slot="start" value="1"></ion-radio>
			</ion-item>
			<ion-item>
				<ion-label>Television Repair</ion-label>
				<ion-radio slot="start" value="2"></ion-radio>
			</ion-item>
			<ion-item>
				<ion-label>Air Conditioner Repair</ion-label>
				<ion-radio slot="start" value="3"></ion-radio>
			</ion-item>
			<ion-item>
				<ion-label>Computer Repair</ion-label>
				<ion-radio slot="start" value="4"></ion-radio>
			</ion-item>
			<ion-item>
				<ion-label>Microwave Repair</ion-label>
				<ion-radio slot="start" value="5"></ion-radio>
			</ion-item>
			<ion-item>
				<ion-label>Cooler Repair</ion-label>
				<ion-radio slot="start" value="6"></ion-radio>
			</ion-item>
			<ion-item>
				<ion-label>Laptop Repair</ion-label>
				<ion-radio slot="start" value="7"></ion-radio>
			</ion-item>
			<ion-item>
				<ion-label>Audio Player Repair</ion-label>
				<ion-radio slot="start" value="8"></ion-radio>
			</ion-item>

			<ion-item>
				<ion-label>Refrigerator Repair</ion-label>
				<ion-radio slot="start" value="9"></ion-radio>
			</ion-item>
			<ion-item>
				<ion-label>Television Repair</ion-label>
				<ion-radio slot="start" value="10"></ion-radio>
			</ion-item>
			<ion-item>
				<ion-label>Air Conditioner Repair</ion-label>
				<ion-radio slot="start" value="11"></ion-radio>
			</ion-item>
			<ion-item>
				<ion-label>Computer Repair</ion-label>
				<ion-radio slot="start" value="12"></ion-radio>
			</ion-item>
			<ion-item>
				<ion-label>Microwave Repair</ion-label>
				<ion-radio slot="start" value="13"></ion-radio>
			</ion-item>
			<ion-item>
				<ion-label>Cooler Repair</ion-label>
				<ion-radio slot="start" value="14"></ion-radio>
			</ion-item>
			<ion-item>
				<ion-label>Laptop Repair</ion-label>
				<ion-radio slot="start" value="15"></ion-radio>
			</ion-item>
			<ion-item>
				<ion-label>Audio Player Repair</ion-label>
				<ion-radio slot="start" value="16"></ion-radio>
			</ion-item>


			<ion-item>
				<ion-label>Refrigerator Repair</ion-label>
				<ion-radio slot="start" value="17"></ion-radio>
			</ion-item>
			<ion-item>
				<ion-label>Television Repair</ion-label>
				<ion-radio slot="start" value="18"></ion-radio>
			</ion-item>
			<ion-item>
				<ion-label>Air Conditioner Repair</ion-label>
				<ion-radio slot="start" value="19"></ion-radio>
			</ion-item>
			<ion-item>
				<ion-label>Computer Repair</ion-label>
				<ion-radio slot="start" value="20"></ion-radio>
			</ion-item>
			<ion-item>
				<ion-label>Microwave Repair</ion-label>
				<ion-radio slot="start" value="21"></ion-radio>
			</ion-item>
			<ion-item>
				<ion-label>Cooler Repair</ion-label>
				<ion-radio slot="start" value="22"></ion-radio>
			</ion-item>
			<ion-item>
				<ion-label>Laptop Repair</ion-label>
				<ion-radio slot="start" value="23"></ion-radio>
			</ion-item>
			<ion-item>
				<ion-label>Audio Player Repair</ion-label>
				<ion-radio slot="start" value="24"></ion-radio>
			</ion-item>

		</ion-radio-group>

	</ion-list>
</ion-content>
<ion-footer class="ion-no-border d-flex">
	<div class="amount">
		<h3>{{'amount' | translate}}</h3>
		<h2>$140.00</h2>
	</div>
	<ion-button size="large" shape="block" class="btn end" (click)="continue()">{{'continue' | translate}}</ion-button>
</ion-footer>