ion-header {
	ion-toolbar ion-title {
		position: absolute !important;
		top: 0;
		left: 0;
		width: 100%;
		padding: 0 15px !important;
		text-align: center;

		ion-icon {
			color: var(--text-light2);
			margin: 0 5px;
			font-size: 0.85rem;

			&.active {
				color: var(--primary);
			}
		}
	}

	h1 {
		font-size: 1.3rem; 
		padding: 0 20px;
		padding-top: 17px;
	}
}

ion-list {
	background: var(--transparent) !important;
	margin: 0;
	padding: 0;
	width: calc(100% - 40px);
	margin: 0 auto;
	padding-top: 26px;

	ion-item {
		padding: 0px 19px;
		border-radius: 4px;
		background: var(--white);
		--inner-padding-end: 0px;
		--inner-min-height: unset !important;
		--padding-start: 0;
		--highligh-color-focused: var(--transparent) !important;
		--background: var(--transparent);
		background: var(--input_filed_bg);
		margin-bottom: 10px;
		--min-height: 54px;


		ion-label {
			position: relative;
			margin: 0;
			color: var(--text-light);
			font-size: 1.12rem !important;
			font-weight: 400 !important;
		}

		ion-radio {
			position: absolute;
			z-index: 999;
			width: 100%;
			height: 100%;
			margin: 0;
			--color: var(--transparent) !important;
			--color-checked: var(--transparent) !important;
		}

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			width: 0;
			height: 0;
			margin: auto;
			background: var(--primary);
			transition: all .3s;
			border-radius: 4px;
		}

		&.item-radio-checked {
			border-color: var(--primary) !important;

			&::before {
				width: 100%;
				height: 100%;
			}

			ion-label {
				color: var(--white);
			}

		}
	}
}

ion-footer {
	background: var(--white);
	padding: 10px 20px 20px 20px;

	.amount {
		min-width: 50%;
		max-width: 50%;

		h3 {
			margin: 0;
			color: var(--text-light);
			font-weight: 400;
			font-size: .85rem;
			padding-bottom: 5px;
		}

		h2 {
			margin: 0;
			color: var(--text-dark);
			font-weight: 600;
			font-size: 1.2rem;
		}
	}

	.button.btn {
		min-width: 50%;
		max-width: 50%;
	}
}