<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title></ion-title>
	</ion-toolbar>
	<h1>{{'my_profile' | translate}}</h1>
</ion-header>
<ion-content fullscreen>
	<div class="form">
		<ion-list lines="none">
			
			<ion-item lines="none">
				<div class="item_inner">
					<ion-label position="fixed">{{'full_name' | translate}}</ion-label>
					<ion-input color="primary"  [(ngModel)]="name" (ionBlur)="updateDatabasename()"> </ion-input>
					
				</div>
			</ion-item>

			<ion-item lines="none">
				<div class="item_inner">
					<ion-label position="fixed">{{'phone_number' | translate}}</ion-label>
					<ion-label color="primary">{{ mynumber }}</ion-label>
				</div>
			</ion-item>

			<ion-item lines="none">
				<div class="item_inner">
					<ion-label position="fixed">{{'email_address' | translate}}</ion-label>
					<ion-input color="primary"  [(ngModel)]="email" (ionBlur)="updateDatabaseemail()"> </ion-input>
				</div>
			</ion-item>

			<ion-item lines="none">
				<div class="item_inner">
					<ion-label position="fixed">{{'Bio' | translate}}</ion-label>
					  <ion-textarea color="primary"  [(ngModel)]="bio" (ionBlur)="updateDatabasebio()"></ion-textarea>
				</div>
			</ion-item>

			<ion-item lines="none">
				<div class="item_inner">
					<ion-label position="fixed">{{'Service Category' | translate}}</ion-label>
					<ion-label color="primary"> {{user?.category}}</ion-label>
				</div>
			</ion-item>

			<ion-item lines="none">
				<div class="item_inner">
					<ion-label position="fixed">{{'City' | translate}}</ion-label>
					<ion-input color="primary"  [(ngModel)]="city" (ionBlur)="updateDatabasecity()"> </ion-input>
				</div>
			</ion-item>

		</ion-list>
	</div>
</ion-content>

