.form {
	padding-top: 30px;

	ion-list {
		.my_address {
			padding-top: 20px;
			padding-bottom: 15px;

			h2 {
				margin: 0;
				color: var(--text-dark);
				font-weight: 700;
				font-size: 1.7rem;
			padding-bottom: 26px;
			}

			ion-item {
				padding: 18px 18px;
				border-radius: 4px;
				background: var(--input_filed_bg);
				margin-bottom: 10px;


				ion-label {
					position: relative;
					margin: 0;
					padding-bottom: 0;

					h3 {
						margin: 0;
						text-transform: uppercase;
						font-size: 1.15rem;
						font-weight: 600;
						letter-spacing: 1.5px;
						padding-bottom: 10px;
						color: var(--text-black);
					}

					p {
						color: var(--text-light);
						font-size: 1.12rem !important;
						font-weight: 400 !important;
						margin: 0;
					}
				}

			}
		}
	}
}

ion-footer{
	padding: 0 20px 20px 20px;
	background: var(--white);
}
