.container {
	padding: 0 20px;
	position: absolute;
	top: -30px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 100%;
	height: fit-content;

	.img_box {
		width: 250px;
		margin: 0 auto;
	}

	h1 {
		margin: 0;
		color: var(--text-dark);
		font-weight: 700;
		font-size: 2rem;
		padding-bottom: 35px;
		margin-bottom: 10px;
	}

	h2 {
		margin: 0;
		color: var(--text-light);
		font-weight: 600;
		font-size: 1.15rem;
		opacity: .7;
	}
}

ion-footer {
	padding: 0 20px 8px 20px;

	.button.btn {
		margin-bottom: 20px;
	}
}