<!--
<ion-header>
  <ion-toolbar>
    <ion-title>order-done</ion-title>
  </ion-toolbar>
</ion-header>
-->

<ion-content>
	<div class="container ion-text-center">
		<div class="img_box">
			<img src="assets/images/successful.png">
		</div>
		<h1>Proposal<br>Submited</h1>
		<h2>Your Proposal has been<br>Submitted for client review.</h2>
	</div>
</ion-content>

<ion-footer class="ion-no-border">
		<ion-button size="large" shape="block" class="btn end" (click)="my_appointments()">{{'View Appointments' | translate}}</ion-button>
		<ion-button size="large" fill="outline" shape="block"  class="btn end" (click)="home()">{{'home' | translate}}</ion-button>
</ion-footer>