<!--
<ion-header>
  <ion-toolbar>
    <ion-title>location</ion-title>
  </ion-toolbar>
</ion-header>
-->

<ion-content (click)="dismiss()">

</ion-content>
<ion-footer class="ion-no-border">
	<ion-list lines="none">
		<div class="list_header">
			<h2 class="d-flex"><span (click)="dismiss()">{{'cencel' | translate}}</span> <span class="end" (click)="dismiss()">{{'done' | translate}}</span></h2>
		</div>
		<ion-radio-group>
			<ion-item>
				<ion-label>
					<h3>Home</h3>
					<p> 345, New York Business center,<br>Centerl Park, New York, USA </p>
				</ion-label>
				<ion-radio slot="start" value="2"></ion-radio>
			</ion-item>
			 
			<ion-item>
				<ion-label>
					<h3>Office</h3>
					<p>1124, Red fort Villas, Hemilton <br>Road, New York, USA </p>
				</ion-label>
				<ion-radio slot="start" value="3"></ion-radio>
			</ion-item>
			
			<ion-item>
				<ion-label>
					<h3>Farm House</h3>
					<p> 345, New York Business center,<br>Centerl Park, New York, USA </p>
				</ion-label>
				<ion-radio slot="start" value="4"></ion-radio>
			</ion-item>
			
			<ion-item>
				<ion-label>
					<h3>Other</h3>
					<p>1124, Red fort Villas, Hemilton <br>Road, New York, USA </p>
				</ion-label>
				<ion-radio slot="start" value="5"></ion-radio>
			</ion-item>
		</ion-radio-group>
	</ion-list>
</ion-footer>