ion-content {
	--background: rgba(0, 0, 0, 0) !important;
}

ion-footer {
	background: var(--white);

	ion-list {
		background: var(--transparent) !important;
		margin: 0;
		padding: 0;

		.list_header {
			background: var(--input_filed_bg);
			min-height: 54px;
			height: unset;
			padding: 0 25px;

			h2 {
				margin: 0;
				min-height: 54px;
				line-height: 54px;
				text-transform: capitalize;
				font-size: 1.35rem;
				color: var(--text-dark);
				font-weight: 700;

				span {
					&.end {
						color: var(--primary);
					}
				}
			}
		}

		ion-radio-group {
			max-height: 260px;
			overflow: hidden;
			display: block;
			overflow-y: scroll;
		}

		ion-item {
			padding: 15px 18px;
			border-radius: 4px;
			background: var(--white);
			--inner-padding-end: 0px;
			--inner-min-height: unset !important;
			--padding-start: 0;
			--highligh-color-focused: var(--transparent) !important;
			--background: var(--transparent);
			background: var(--input_filed_bg);
			--min-height: 54px;
			width: calc(100% - 40px);
			margin: 0 auto;
			margin-bottom: 10px;


			ion-label {
				position: relative;
				margin: 0;

				h3 {
					margin: 0;
					text-transform: uppercase;
					font-size: 1rem;
					font-weight: 600;
					letter-spacing: 1.5px;
					padding-bottom: 10px;
					color: var(--text-black);
				}

				p {
					color: var(--text-light);
					font-size: 1.12rem !important;
					font-weight: 400 !important;
					margin: 0;
				}
			}

			ion-radio {
				position: absolute;
				z-index: 999;
				width: 100%;
				height: 100%;
				margin: 0;
				--color: var(--transparent) !important;
				--color-checked: var(--transparent) !important;
			}

			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				width: 0;
				height: 0;
				margin: auto;
				background: var(--primary);
				transition: all .3s;
				border-radius: 4px;
			}

			&.item-radio-checked {
				border-color: var(--primary) !important;

				&::before {
					width: 100%;
					height: 100%;
				}

				ion-label {
					h3 {
						color: var(--white);
						font-weight: 500;
					}

					p {
						color: var(--white);
					}
				}

			}

			&:first-child {
				margin-top: 27px;
			}
		}
	}
}