@font-face {
    font-family: 'Google Sans';
    src: url('../assets/font/GoogleSans-Italic.woff2') format('woff2'),
        url('../assets/font/GoogleSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Google Sans';
    src: url('../assets/font/GoogleSans-Regular.woff2') format('woff2'),
        url('../assets/font/GoogleSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Google Sans';
    src: url('../assets/font/GoogleSans-BoldItalic.woff2') format('woff2'),
        url('../assets/font/GoogleSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Google Sans';
    src: url('../assets/font/GoogleSans-Bold.woff2') format('woff2'),
        url('../assets/font/GoogleSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Google Sans';
    src: url('../assets/font/GoogleSans-MediumItalic.woff2') format('woff2'),
        url('../assets/font/GoogleSans-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Google Sans';
    src: url('../assets/font/GoogleSans-Medium.woff2') format('woff2'),
        url('../assets/font/GoogleSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}



*,
body,
html,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
strong,
li {
    --ion-font-family: 'Google Sans';
    font-family: 'Google Sans';
    //letter-spacing: .05rem;
}

.zmdi {
    font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
}


ion-menu {

    --background: rgba(0, 0, 0, 0.74);
    background: rgba(0, 0, 0, 0.52);

    ion-header {
        .banner {
            padding: 30px 27px;

            .logo_box {
                margin-bottom: 65px;

                img {
                    display: block;
                    width: 130px;
                }

            }

            h3 {
                margin: 0;
                font-size: 1.15rem;
                font-weight: 400;
                color: var(--text-light);
                margin-bottom: 8px;


            }

            h2 {
                margin: 0;
                color: var(--text-dark);
                font-size: 1.7rem;
                font-weight: 600;
            }
        }
    }

    ion-list {
        background: var(--transparent) !important;
        padding: 0;
        width: calc(100% - 58px);
        margin: 0 auto;
        padding-top: 33px;

        ion-item {
            padding: 0px 0px;
            border-radius: 4px;
            background: var(--white);
            --inner-padding-end: 0px;
            --inner-min-height: unset !important;
            --padding-start: 0;
            --highligh-color-focused: var(--transparent) !important;
            --background: var(--transparent);
            --min-height: unset;
            margin-bottom: 40px;

            ion-icon {
                color: var(--primary);
                font-size: 1.5rem;
                min-width: 41px;
            }

            h2 {
                margin: 0;
                color: var(--text-dark);
                font-weight: 600;
                font-size: 1.35rem;
            }
        }
    }

    .buy_this_app {
        background: var(--primary);
        position: relative;
        bottom: 0px;
        right: 0px;
        height: 50px;
        display: flex;
        align-items: center;
        z-index: 99999;
        width: 100%;

        h2 {
            color: var(--white);
            display: flex;
            align-items: center;
            margin: auto;
            width: fit-content;
            font-size: 1.2rem;
            font-weight: 500;
            padding: 0;

            ion-icon {
                font-size: 1.3rem;
                min-width: 29px;
            }
        }
    }

}
