<ion-app [dir]="rtlSide">
    <ion-split-pane contentId="main-content">
        <ion-menu contentId="main-content" type="overlay">
            <ion-header class="bg_transparent">
                <div class="banner">
                    <div class="logo_box d-flex">
                        <img src= "assets/images/light_logo.jpeg">
                    </div>
                    <h3>{{'hey' | translate}}</h3>
                    <h3><strong>{{name}}</strong></h3>
                   
                </div>
            </ion-header>
            <ion-content>
                <ion-list lines="none">
                    <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
                        <ion-item detail="false" [routerDirection]="'root'" [routerLink]="[p.url]">
                            <div class="item_inner d-flex">
                                <ion-icon class="ion-text-start" slot="start" [class]="p.icon"></ion-icon>
                                <h2>{{ p.title | translate}}</h2>
                            </div>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
            </ion-content>

            <ion-footer class="ion-no-border">
                <div class="buy_this_app" *ngIf="config.showBuyPromt" (click)="buyAppAction()">
                    <h2>  <ion-icon class="zmdi zmdi-shopping-cart"></ion-icon>
                        {{"buy_this_app" | translate}}
                    </h2>
                </div>
            </ion-footer>
        </ion-menu>
        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
</ion-app>