<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
		</ion-buttons>
		<ion-title>

		</ion-title>
	</ion-toolbar>
	<h1>
		{{'appointment_info' | translate}}
		<small>{{'booked_on' | translate}} 9 June 2020 11:40 am</small>
	</h1>
</ion-header>


<ion-content fullscreen>
	<div class="form">
		<ion-list lines="none">

			<ion-item>
				<div class="item_inner">
					<h2>{{'your_appointment_for' | translate}}</h2>
					<h3>{{jobs?.category}}</h3>
					<h4>Air Conditioner</h4>
				</div>
			</ion-item>

			<ion-item>
				<div class="item_inner">
					<h2>{{'date_time' | translate}}</h2>
					<h3>13 June 2020 11:00</h3> 
				</div>
			</ion-item>

			<ion-item>
				<div class="item_inner">
					<h2>{{'location_at' | translate}}</h2>
					<h3>Home</h3>
					<h4> 345, New York Business center,<br>Centerl Park, New York, USA </h4>
				</div>
			</ion-item>
			
			
			
			<ion-item>
				<div class="item_inner">
					<h2>{{'additionla_information' | translate}}</h2>
				 
					<h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.   </h4>
				</div>
			</ion-item>

		 
		</ion-list>
	</div>
</ion-content>

<ion-footer class="ion-no-border d-flex">
	 <ion-row>
		 <ion-col size="12">
			 <ion-button size="large" fill="outline" shape="block" class="btn end">{{'Start Navigation' | translate}}</ion-button>
		 </ion-col>
		 
		 
	</ion-row>
	
</ion-footer>
