<ion-header class="bg_transparent">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title><img src="assets/images/light_logo.png"></ion-title>
	</ion-toolbar>

	<div class="search_box d-flex">
		<ion-icon class="zmdi zmdi-search ion-text-start"></ion-icon>
		<ion-searchbar class="ion-no-padding" searchIcon="hide" placeholder="{{'search_text' | translate}}"></ion-searchbar>
	</div>
</ion-header>

<ion-content>
	<div class="services">
		
		<h2>{{'services' | translate}}</h2>
		<div class="container">
			<div class="item" *ngFor="let cat of categories;index as i">
			  <div
				class="container-wrapper" [style.background-image]="getUrl(cat.img)"
				style="background-size: cover;
			background-position: center;"
      
			  >
				<div class="overlay">
				  <div class="service-title">{{cat?.name}}</div>
				</div>
			  </div>
			</div>
		  </div>

	</div>

</ion-content>
