ion-header {
	ion-toolbar ion-title {
		position: absolute !important;
		top: 0;
		left: 0;
		width: 100%;
		padding: 0 15px !important;
		text-align: center;

		ion-icon {
			color: var(--text-light2);
			margin: 0 5px;
			font-size: 0.85rem;

			&.active {
				color: var(--primary);
			}
		}
	}
}

.form {
	ion-list {
		padding-top: 17px;

		ion-card {
			margin: 0;
			width: 100%;
			box-shadow: none;
			border-radius: 0;
			margin-bottom: 15px;

			h2 {
				font-size: 1.3rem;
				padding-bottom: 22px;
				color: var(--text-dark);
				margin: 0;
				font-weight: 600;
			}

			ion-item {
				background: var(--input_filed_bg) !important;
				padding: 0 19px;
				--min-height: 54px;

				ion-datetime {
					padding: 0;
					color: var(--text-light);
					font-size: 1.12rem !important;
					font-weight: 400 !important;
				}

				ion-icon {
					margin: 0;
					color: var(--primary);
					font-size: 1.5rem;
					min-width: 35px;
				}

				.item_inner {
					padding: 19px 0;

					h3 {
						margin: 0;
						text-transform: uppercase;
						font-size: 1.1rem;
						font-weight: 600;
						letter-spacing: 1.5px;
						padding-bottom: 10px;
					}

					p {
						color: var(--text-light);
						font-size: 1.12rem !important;
						font-weight: 400 !important;
						margin: 0;
					}
				}

			}
		}
	}
}



ion-footer {
	background: var(--white);
	padding: 10px 20px 20px 20px;

	.amount {
		min-width: 50%;
		max-width: 50%;

		h3 {
			margin: 0;
			color: var(--text-light);
			font-weight: 400;
			font-size: .85rem;
			padding-bottom: 5px;
		}

		h2 {
			margin: 0;
			color: var(--text-dark);
			font-weight: 600;
			font-size: 1.2rem;
		}
	}

	.button.btn {
		min-width: 50%;
		max-width: 50%;
	}
}