<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
		</ion-buttons>
		<ion-title>
			<ion-icon class="zmdi zmdi-circle active"></ion-icon>
			<ion-icon class="zmdi zmdi-circle"></ion-icon>
			<ion-icon class="zmdi zmdi-circle"></ion-icon>
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content fullscreen>
	<div class="form">
		<ion-list lines="none">
		
			<ion-card>
				<h2>{{'select_date' | translate}} </h2>
				<ion-item lines="none">
					
					<ion-datetime displayFormat="D MMMM YYYY" min="2021-03-15" max="2222-12-31" placeholder="{{'select_date' | translate}}" [(ngModel)]="date"></ion-datetime>
				
					<ion-icon slot="end"></ion-icon>
				</ion-item>
			</ion-card>

			<ion-card>
				<h2>{{'select_time' | translate}} </h2>
				<ion-item lines="none">
					
					<ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm" placeholder="{{'select_time' | translate}}" [(ngModel)]="time"></ion-datetime>
				
					<ion-icon slot="end"></ion-icon>
				</ion-item>
			</ion-card>

			<ion-card>
				<h2>{{'Estimated Budget' | translate}} </h2>
				<ion-item lines="none">
					<ion-input placeholder="{{'Budject' | translate}}" type="number" [(ngModel)]="budject" ></ion-input>
				</ion-item>
			</ion-card>

			<ion-card>
				<h2>{{'Estimated Time(Hours)' | translate}} </h2>
				<ion-item lines="none">
					<ion-input placeholder="{{'Estimate Time' | translate}}" type="number" [(ngModel)]="estimatetime" ></ion-input>
				</ion-item>
			</ion-card>

		</ion-list>
	</div>
</ion-content>
<ion-footer class="ion-no-border d-flex">
	<ion-button size="large" shape="block" class="btn end" (click)="continue()">{{'continue' | translate}}</ion-button>
</ion-footer>