.form {
	padding-top: 50px;
}

ion-footer {
	padding: 0px 20px 17px 20px;
	h2 {
		font-size: 1rem;
		font-weight: 500;
		margin: 0;
		color: var(--text-dark);
	}

	h3 {
		margin: 0;
		color: var(--primary);
		font-size: 1rem;
		font-weight: 500;
	}
}