<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
		</ion-buttons>
		<ion-title></ion-title>
	</ion-toolbar>
	<h1>{{'create_account' | translate}}</h1>
</ion-header>

<ion-content fullscreen>
	<div class="form">
		<ion-list lines="none">
			<ion-item lines="none">
				<div class="item_inner">
					<ion-label position="fixed">{{'full_name' | translate}}</ion-label>
					<ion-input type="name" value="" placeholder="{{'enter_full_name' | translate}}" [(ngModel)]="name"></ion-input>
				</div>
			</ion-item>

			<ion-item lines="none">
				<div class="item_inner">
					<ion-label position="fixed">{{'phone_number' | translate}}</ion-label>
					<ion-input type="string" placeholder="{{'enter_phone_number 07XXXXXXXX' | translate}}" [(ngModel)]="phoneNumber" readOnly></ion-input>
				</div>
			</ion-item>

			<ion-item lines="none">
				<div class="item_inner">
					<ion-label position="fixed">{{'email_address' | translate}}</ion-label>
					<ion-input type="email" value="" placeholder="{{'enter_email_address' | translate}}" [(ngModel)]="email"></ion-input>
				</div>
			</ion-item>

			<ion-item lines="none">
				<div class="item_inner">
					<ion-label position="fixed">{{'Bio' | translate}}</ion-label>
					<ion-textarea type="bio" value="" placeholder="{{'Bio' | translate}}" [(ngModel)]="bio"></ion-textarea>
				</div>
			</ion-item>

			<ion-item lines="none">
				<div class="item_inner">
					<ion-label position="fixed">{{'City' | translate}}</ion-label>
					<ion-input type="bio" value="" placeholder="{{'City' | translate}}" [(ngModel)]="city"></ion-input>
				</div>
			</ion-item>

			<ion-item>
				<div class="item_inner">
					<ion-label position="fixed">{{'Service Category' | translate}}</ion-label>
						<ion-select [(ngModel)]="category" placeholder="select your category">
							<div class="categoryselect" *ngFor="let cat of categories;index as i">
								<ion-select-option value="{{cat.name}}" >{{cat?.name}}</ion-select-option>
								<!-- value={{cat??name}} -->
							</div>
					  	</ion-select>
				</div>
				
			</ion-item>

			<ion-button size="large" shape="block" class="btn" (click)="registerUser()"[disabled]="!name || !phoneNumber || !email || !bio || !city ">{{'sign_up_now' | translate}}</ion-button>
		</ion-list>
	</div>
</ion-content>

<ion-footer class="ion-no-border ion-text-center">
	<h2>{{'by_slgning_up_you_agree_to_our' | translate}}</h2>
	<h3 (click)="tnc()">{{'terms_conditions' | translate}}</h3>
</ion-footer>