ion-header {
	ion-toolbar ion-title {
		position: absolute !important;
		top: 0;
		left: 0;
		width: 100%;
		padding: 0 15px !important;
		text-align: center;

		ion-icon {
			color: var(--text-light2);
			margin: 0 5px;
			font-size: 0.85rem;

			&.active {
				color: var(--primary);
			}
		}
	}

	h1 {
		font-size: 1.3rem;
		padding: 0 20px;
		padding-top: 17px;
	}
}

.form {
	padding-top: 26px;

	ion-list {
		ion-item {
			margin-bottom: 30px;

			h2 {
				margin: 0;
				color: var(--text-light);
				font-size: 1.15rem;
				padding-bottom: 10px;
				font-weight: 700;
				opacity: .7;
			}

			h3 {
				margin: 0;
				color: var(--text-dark);
				font-weight: 700;
				font-size: 1.35rem;
				padding-bottom: 5px;
			}

			h4 {
				margin: 0;
				color: var(--text-dark);
				font-weight: 600;
				font-size: 1.1rem;
			}

			ion-textarea {
				font-size: 1rem !important;
				letter-spacing: .5px !important;
			}

			ion-label {
				color: var(--text-dark) !important;
				font-weight: 700 !important;
				font-size: 1.35rem !important;
			}
		}
	}
}

ion-footer {
	background: var(--white);
	padding: 10px 20px 20px 20px;

	.amount {
		min-width: 50%;
		max-width: 50%;

		h3 {
			margin: 0;
			color: var(--text-light);
			font-weight: 400;
			font-size: .85rem;
			padding-bottom: 5px;
		}

		h2 {
			margin: 0;
			color: var(--text-dark);
			font-weight: 600;
			font-size: 1.2rem;
		}
	}

	.button.btn {
		min-width: 50%;
		max-width: 50%;
	}
}