<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
		</ion-buttons>
		<ion-title>
			<ion-icon class="zmdi zmdi-circle active"></ion-icon>
			<ion-icon class="zmdi zmdi-circle active"></ion-icon>
			<ion-icon class="zmdi zmdi-circle active"></ion-icon>
		</ion-title>
	</ion-toolbar>
	<h1>{{'confirm_info' | translate}}</h1>
</ion-header>


<ion-content fullscreen>
	<div class="form">
		<ion-list lines="none">
			<ion-item>
				<div class="item_inner">
				<h2>{{'your_appointment_for' | translate}}</h2>
				<h3>Fix my Appliances</h3>
				<h4>Air Conditioner</h4>
				</div>
			</ion-item>

			<ion-item>
					<div class="item_inner">
				<h2>{{'confirmed_for' | translate}}</h2>
				<label>{{date}}</label>
				<h4>11:00 am</h4>
				</div>
			</ion-item>

			<ion-item>
					<div class="item_inner">
				<h2>{{'location_at' | translate}}</h2>
				<h3>Home</h3>
				</div>
			</ion-item>

			<ion-item lines="none">
				<div class="item_inner">
					<ion-label position="fixed">{{'additionla_information' | translate}}</ion-label>
					<ion-textarea rows="5" type="name" value="" placeholder="{{'elebrate_your_issue' | translate}}"></ion-textarea>
				</div>
			</ion-item>
		</ion-list>
	</div>
</ion-content>

<ion-footer class="ion-no-border d-flex">
	<div class="amount">
		<h3>{{'amount' | translate}}</h3>
		<h2>$140.00</h2>
	</div>
	<ion-button size="large" shape="block" class="btn end" (click)="continue()">{{'continue' | translate}}</ion-button>
</ion-footer>
