<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
        </ion-title>
    </ion-toolbar>
    <h1>{{'select_language' | translate}}</h1>
</ion-header>


<ion-content class="bg_color">
    <ion-list lines="none">
        <ion-radio-group [(ngModel)]="defaultLanguageCode">
			<ion-item *ngFor="let language of languages" (click)="onLanguageClick(language)" class="item_shadow">
				<div class="item_inner d-flex">
					<h3>{{language.name}}</h3>
					<ion-radio class="end" value="{{language.code}}"></ion-radio>
				</div>
			</ion-item>
		</ion-radio-group>
    </ion-list>
</ion-content>
<ion-footer class="ion-no-border">
    <ion-button size="large" shape="full" class="btn" (click)="languageConfirm()">
        {{'save' | translate}}
    </ion-button>
</ion-footer>