ion-list {
    background: var(--transparent) !important;
    margin: 0;
    padding: 26px 0 0px 0;


    ion-item {
        padding: 21px 20px;
        min-height: unset !important;
        --min-height: unset !important;
        --inner-padding-end: 0px;
        --inner-min-height: unset !important;
        --padding-start: 0;
        --highligh-color-focused: var(--transparent) !important;
        --background: var(--transparent) !important;
        background: var(--input_filed_bg) !important;
        --background-activated: var(--transparent) !important;
        --background-hover: var(--transparent) !important;
        --ripple-color: var(--transparent) !important;
        --background-focused: var(--transparent) !important;
        width: calc(100% - 31px);
        margin: 0 auto;
        margin-bottom: 16px;
        border-radius: 7px;

        h3 {
            margin: 0;
            color: var(--text-dark);
            font-size: 1.3rem;
            font-weight: 700;
        }

        ion-radio {
            --color-checked: var(--primary);
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}