ion-list {
	background: var(--transparent) !important;
	margin: 0;
	padding: 0;
	width: calc(100% - 40px);
	margin: 0 auto;
	padding-top: 26px;

	h2 {
		margin: 0;
		color: var(--text-light);
		font-size: 1rem;
		font-weight: 500;
		padding-bottom: 18px;
	}

	ion-item {
		padding: 0;
		background: var(--white);
		--inner-padding-end: 0px;
		--inner-min-height: unset !important;
		--padding-start: 0;
		--highligh-color-focused: var(--transparent) !important;
		margin-bottom: 10px;

		.item_inner {
			width: 100%;
			overflow: hidden;

			.date_time {
				background: var(--primary);
				padding: 10px 12px;
				min-width: 100px;
				border-radius: 4px 0px 0px 4px;

				h3 {
					margin: 0;
					color: var(--white);
					font-size: 1.15rem;
					padding-bottom: 8px;
				}

				h4 {
					margin: 0;
					color: #cdd6ed;
					font-size: .77rem;
					padding-bottom: 11px;
				}

				h5 {
					margin: 0;
					color: var(--white);
					font-size: .77rem;

					ion-icon {
						color: #cdd6ed;
					}
				}

			}

			.appointment_details {
				padding: 9px 12px;
				border: 1px solid #ccc;
				border-left: 0;
				width: 100%;
				border-radius: 0px 4px 4px 0px;

				h3 {
					margin: 0;
					color: var(--text-dark);
					font-size: 1.2rem;
					padding-bottom: 5px;
					font-weight: 700;
				}

				h4 {
					margin: 0;
					color: var(--text-light);
					font-size: .77rem;
					padding-bottom: 7px;
				}

				h5 {
					margin: 0;
					color: var(--text-dark);
					font-size: .77rem;
					font-weight: 600;
				}
			}
		}
	}
	.past_appointment{
		padding-top: 27px;
		ion-item .item_inner .date_time{
			background: var(--bg-dark);
		}

	}
}