<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title></ion-title>
	</ion-toolbar>
	<h1>{{'my_appointments' | translate}}</h1>
</ion-header>

<ion-content>
	<ion-list lines="none">
			<ion-item (click)="my_appointment_info(item.id)" *ngFor="let item of appointment | myJobFilter: UID | sortdate">
				<div class="item_inner d-flex">
					<div class="date_time">
						<h4>{{item.date| date:'MMMM d'}}</h4>
						<h4>{{item.time}}</h4>
						<h5 class="d-flex">
							<ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
							{{item.adrress_type}}
						</h5>
					</div>
					<div class="appointment_details">
						<div>
							<h3> {{item.category}} </h3>
								<ion-badge color="secondary" slot="start" *ngIf=findrequested(item.status)>{{item.status}}</ion-badge>
								<ion-badge color="tertiary" slot="start" *ngIf=findstarted(item.status)>{{item.status}}</ion-badge>
							<h5>{{item.budject| currency:'Rs. '}}</h5>
					</div>
					</div>
				</div>
			</ion-item>
			
		<div class="past_appointment">
			<h2>{{'past_appointment' | translate}}</h2>
			<ion-item (click)="past_appointment_info(item.id)" *ngFor="let item of appointment |pastJobFilter: UID  | sortdate">
				<div class="item_inner d-flex">
					<div class="date_time">
						<h4>{{item.date| date:'MMMM d'}}</h4>
						<h4>{{item.time}}</h4>
						
						<h5 class="d-flex">
							<ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
							{{item.adrress_type}}
						</h5>
					</div>
					<div class="appointment_details">
						<h3> {{item.category}} </h3>
						<ion-badge color="danger" slot="start">{{item.status}}</ion-badge>
						<h5>{{item.budject| currency:'Rs. '}}</h5>
					</div>
				</div>
			</ion-item>

		</div>
	</ion-list>
</ion-content>
