ion-header {

	ion-toolbar {
		ion-buttons ion-menu-button {
			color: var(--white) !important;
		}

		ion-title {
			position: absolute !important;
			width: 100%;
			top: 0;
			left: 0;
			padding: 0 15px !important;
			text-align: center !important;

			img {
				width: 110px;
				position: relative;
				top: 5px;
			}

		}
	}

	.header_bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100px;
		overflow: hidden;
	}

	.search_box {
		background: var(--input_filed_bg);
		border-radius: 4px;
		margin: 0 auto;
		padding: 0 15px;
		position: relative;
		overflow: hidden;
		z-index: 99;
		width: calc(100% - 30px);
		min-height: 52px;
		margin-top: 14px;

		ion-icon {
			color: var(--text-light);
			font-size: 1.4rem;
			min-width: 35px;
			height: 35px;
			line-height: 35px;
			z-index: 99;
		}

		ion-searchbar {
			--background: var(--transparent) !important;
			--color: var(--text-light);
			--placeholder-opacity: 1;
			--placeholder-font-weight: 400 !important;
			--box-shadow: none !important;
		}
	}
}

.services {
	width: calc(100% - 40px);
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 35px;

	h2 {
		margin: 0;
		font-size: 1.2rem;
		font-weight: 600;
		margin-bottom: 7px;
	}

	ion-row {
		margin: 0 -10px;

		ion-col {
			padding: 10px;

			.services_box {
				position: relative;
				width: 100%;
				height: 110px;
				border-radius: 4px;
				overflow: hidden;

				.img_box {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;

				}

				&::after {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: rgba(0, 0, 0, 0.48);
				}

				h3 {
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					color: var(--white);
					z-index: 99;
					margin: 0;
					font-size: 1.1rem;
					padding: 12px;
					letter-spacing: .5px;
					line-height: 21px;
				}
			}
		}
	}
}

ion-list {
	background: var(--transparent) !important;
	margin: 0;
	padding: 0;
	width: calc(100% - 40px);
	margin: 0 auto;

	h2 {
		margin: 0;
		font-size: 1.2rem;
		font-weight: 600;
		margin-bottom: 7px;

		span {
			color: var(--text-light);
			font-size: .85rem;
			font-weight: 500;
			min-width: 80px;
		}
	}

	ion-item {
		padding: 12px 0;
		background: var(--white);
		--inner-padding-end: 0px;
		--inner-min-height: unset !important;
		--padding-start: 0;
		--highligh-color-focused: var(--transparent) !important;
		margin-bottom: 8px;

		.item_inner {
			width: 100%;
			overflow: hidden;

			.date_time {
				background: var(--primary);
				padding: 10px 12px;
				min-width: 100px;
				border-radius: 4px 0px 0px 4px;

				h3 {
					margin: 0;
					color: var(--white);
					font-size: 1.15rem;
					padding-bottom: 5px;
				}

				h4 {
					margin: 0;
					color: #cdd6ed;
					font-size: .77rem;
					padding-bottom: 7px;
				}

				h5 {
					margin: 0;
					color: var(--white);
					font-size: .77rem;

					ion-icon {
						color: #cdd6ed;
					}
				}

			}

			.appointment_details {
				padding: 9px 12px;
				border: 1px solid #ccc;
				border-left: 0;
				width: 100%;
				border-radius: 0px 4px 4px 0px;

				h3 {
					margin: 0;
					color: var(--text-dark);
					font-size: 1.2rem;
					padding-bottom: 5px;
					font-weight: 700;
				}

				h4 {
					margin: 0;
					color: var(--text-light);
					font-size: .77rem;
					padding-bottom: 7px;
				}

				h5 {
					margin: 0;
					color: var(--text-dark);
					font-size: .77rem;
					font-weight: 600;
				}
			}
		}
	}
}


.container {
	display: flex;
	flex-flow: row wrap;
	height: 100%;
	.item {
	  width: 50%;
	  position: relative;
	  .container-wrapper {
		height: 115px;
		overflow: hidden;
		-webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
		box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
		border-radius: 10px;
		margin: 10px;
		.overlay {
		  background-color: rgba(0, 0, 0, 0.15);
		  height: 100%;
		  z-index: 2;
		}
	  }
	  .service-title {
		position: absolute;
		bottom: 20px;
		left: 20px;
		color: #fff;
		font-weight: 600;
		line-height: 25px;
		width: min-content;
	  }
	}
  }
  
