<ion-header>
</ion-header>

<ion-content>
	<div class="services">
		
		<h2>{{'All Categories' | translate}}</h2>
		
		<div class="container">
			<div class="item" *ngFor="let cat of categories;index as i" >
			  <div 
				    class="container-wrapper" [style.background-image]="getUrl(cat.img)"
				    style="background-size: cover;background-position: center;"
					(click)="adddetails()"
			  >
			  <div class="overlay">
				  <div class="service-title">{{cat?.name}}</div>
				</div>
        
			  </div>
		  </div>
	  </div>
  </div>
</ion-content>