/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

:root {
	--white: #fff;
	--primary: #0091ea;
	--input_filed_bg: #f6f7fb;
	--transparent: rgba(0, 0, 0, 0);
	--text-light: #989898;
	--text-light2: #e1e1e1;
	--text-dark: #000000;
	--bg-dark: #666666;
	--text-dark2: #3d3d3d;
}


.d-flex {
	display: flex !important;
	align-items: center;
	width: 100%;

	.end {
		margin-left: auto !important;
		margin-right: 0 !important;
		display: block;
	}
}

.center_img {
	position: relative;
	overflow: hidden;

	img {
		&.crop_img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			bottom: 0;
			left: -50% !important;
			right: -50% !important;
			margin: auto;
		}

	}
}

.button {
	&.btn {
		width: 100%;
		font-size: 1.1rem;
		font-weight: 500;
		letter-spacing: .6px !important;
		height: 53px;
		--background: var(--primary);
		text-transform: none;
		color: var(--white);
		margin: 0;
		--box-shadow: none;

		ion-icon {
			font-size: 1.4rem;
		}

		&:hover:not(.disable-hover) {
			--background: var(--primary);
		}

		&.button-outline {
			--background: var(--transparent);
			color: var(--primary);
			--border-color: var(--primary);
			--border-width: 1px;
			letter-spacing: 0 !important;
			font-size: 1.2rem !important;
			font-weight: 600 !important;

			&:hover:not(.disable-hover) {
				--background: var(--transparent);
			}
		}

		&.button-round {
			--border-radius: 50px !important;
		}

		&.button-block {
			--border-radius: 4px !important;
		}

	}
}

ion-item{
    	--ripple-color: var(--transparent) !important;
}

ion-header {
	z-index: 999;
	background-color: var(--white);

	&::after {
		display: none !important;
	}

	h1 {
		margin: 0;
		padding: 8px 18px 0 18px;
		color: var(--text-dark);
		font-weight: 700;
		font-size: 1.7rem;
	}

	ion-toolbar {
		--background: var(--white);
		display: flex;
		align-items: center;
		min-height: 60px !important;
		height: auto;
		overflow: visible !important;
		--border-width: 0 !important;

		ion-buttons {
			position: relative !important;
			margin: 0;
			--padding-end: 0 !important;
			--padding-start: 0 !important;
			--color: var(--text-dark) !important;

			.button-inner {
				ion-icon {
					//font-size: 1.5rem;
					padding-left: 00px;
					color: var(----text-dark);
				}


			}

			ion-back-button {
				--color: var(--text-dark) !important;
				color: var(--text-dark) !important;
			}

			ion-menu-button {
				--color: var(--text-dark) !important;
				//--padding-start: 0 !important;
				--padding-end: 0 !important;
				font-size: 1.8rem !important;

				&.ios {
					font-size: 2rem !important;
				}

			}

			ion-back-button {
				.button-native {
					padding: 0 !important;
				}
			}

			&.ios {
				padding: 0 10px !important;
			}

		}

		ion-title {
			color: var(--text-dark);
			padding: 0 !important;
			padding-right: 15px !important;
			text-align: justify;
			font-size: 1.15rem;
			font-weight: 600;
			display: flex;
			align-items: center;
			position: relative !important;
			overflow: visible !important;
			line-height: 60px;

			.end {
				margin-right: 0;
				margin-left: auto;
				display: block;
			}

		}


	}

	&.bg_transparent {
		//position: absolute;
		z-index: 999;
		width: 100%;
		height: auto;

		ion-toolbar {
			--background: transparent;
			--ion-color-base: transparent !important;
		}
	}
}


.form {
	display: block;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
	width: calc(100% - 40px);

	ion-list {
		background: var(--transparent) !important;
		margin: 0;
		padding: 0;
	}

	ion-item {
		border-radius: 4px;
		padding: 0;
		width: calc(100% - 0px);
		min-height: unset !important;
		box-shadow: none !important;
		margin: 0 auto;
		--background: var(--transparent);
		background: var(--transparent);
		align-items: flex-start;
		--inner-padding-end: 0px;
		--inner-min-height: unset !important;
		--padding-start: 0;
		--highligh-color-focused: var(--transparent) !important;
		box-shadow: none !important;
		margin-bottom: 23px;
		--min-height: unset;

		.item_inner {
			width: 100%;
		}

		ion-label {
			color: var(--text-dark) !important;
			margin: 0;
			letter-spacing: 0;
			max-width: 100% !important;
			min-width: 100% !important;
			width: 100% !important;
			flex: unset !important;
			display: block;
			font-weight: 600;
			font-size: 1.3rem !important;
			padding-bottom: 15px;
		}

		ion-textarea,
		ion-input {
			--padding: 0 !important;
			font-size: 1.14rem !important;
			font-weight: 500 !important;
			letter-spacing: 0px;
			--padding-start: 0 !important;
			--padding-end: 0 !important;
			--padding-top: 0 !important;
			--padding-bottom: 0px !important;
			color: var(--text-black);
			--placeholder-color: var(--text-light) !important;
			--placeholder-opacity: 1;
			--placeholder-font-weight: 400 !important;
			position: relative;
			//	top: 4px;
			flex: unset !important;
			background: var(--input_filed_bg);
			min-height: 53px;
			padding: 13px 17px !important;
			min-width: 100%;
			height: 100%;

			input {
				--padding: var(--no-padding);

				&.native-input {
					--padding: var(--no-padding);
				}
			}

		}

		&.item-select {
			ion-label.label-stacked {
				margin-bottom: 5px;
			}

			ion-select {
				padding: 0;
				font-size: 1rem !important;
				font-weight: 500 !important;
			}
		}
	}

	ion-row {
		margin: 0 -5px;
	}
}


ion-modal {
	--background: rgba(0, 0, 0, 0) !important;
	--backdrop-opacity: var(--ion-backdrop-opacity, 0.3) !important;
}



app-add-address,
app-home {
	ion-searchbar {
		.searchbar-input-container {
			input {
				box-shadow: none !important;
				padding: 0 !important;
				font-size: 1rem !important;
				font-weight: 400 !important;
			}
		}
	}
}



.picker-wrapper {
	min-height: 290px !important;

	.picker-toolbar {
		background: var(--input_filed_bg);
		min-height: 54px;
		height: unset;

		.picker-toolbar-button {
			display: block;
			min-height: 54px;
			line-height: 54px;

			.picker-button {
				text-transform: capitalize;
				font-size: 1.35rem;
				color: var(--primary);
				font-weight: 700;
			}

			&.picker-toolbar-cancel {
				margin-left: 0;
				margin-right: auto;

				.picker-button {
					color: var(--text-black);

				}
			}
		}
	}

	.picker-columns {
		height: 236px !important;

		.picker-col {
			padding: 0;

			.picker-opts {
				width: auto;
				max-width: unset !important;
				top: 15px;

				.picker-opt {
					color: var(--text-light);
					font-size: 1.3rem;
					font-weight: 700;
					min-height: 45px;

					&.picker-opt-selected {
						color: var(--text-dark);
						font-size: 1.6rem;
					}
				}
			}
		}
	}
}

ion-app[dir="rtl"]{
	ion-header ion-toolbar ion-title {
		padding-right: 0 !important;
		padding-left: 15px !important;
	}

	.d-flex .end {
		margin-left: 0 !important;
		margin-right: auto !important;
	}

	app-sign-in .form .or_continue_with .button.btn.button-block {
		img {
			left: unset !important;
			right: -11px !important;
		}

		&.google img {
			left: unset !important;
			right: -20px !important;
		}
	}

	app-my-appointments,
	app-home {
		ion-list ion-item .item_inner {
			.date_time {
				border-radius: 0px 4px 4px 0px !important;
			}

			.appointment_details {
				border-radius: 4px 0px 0px 4px !important;
				border-left: 1px solid #ccc !important;
				border-right: 0 !important;
			}
		}
	}

	.picker-wrapper .picker-toolbar .picker-toolbar-button.picker-toolbar-cancel {
		margin-left: auto !important;
		margin-right: 0 !important;
	}
}