<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title></ion-title>
	</ion-toolbar>
	<h1>{{'New Requests' | translate}}</h1>
</ion-header>

<ion-content>
	<ion-list lines="none">
		<ion-item (click)="new_appointment_info(item.id)" *ngFor="let item of appointment | jobFilter: UID| sortdate">
			<div class="item_inner d-flex">
				<div class="date_time">
					<h4>{{item.date| date:'MMMM d'}}</h4>
					<h4>{{item.time}}</h4>
					
					<h5 class="d-flex">
						<ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
						{{item.adrress_type}}
					</h5>
				</div>
				<div class="appointment_details">
					<h3> {{item.category}} </h3>
					<h4>{{item.information.substr(0, 30)}}</h4>
					<h5>{{item.budject| currency:'Rs. '}}</h5>
				</div>
			</div>
		</ion-item>
	</ion-list>
</ion-content>
