ion-header {
	h1 {
		small {
			display: block;
			color: var(--text-light);
			font-weight: 400;
			font-size: .95rem;
			opacity: .7;
			padding-top: 6px;
		}
	}
}

.form {
	padding-top: 50px;

	ion-list {
		ion-item {
			margin-bottom: 25px;

			h2 {
				margin: 0;
				color: var(--text-light);
				font-size: 1.15rem;
				padding-bottom: 10px;
				font-weight: 700;
				opacity: .7;
			}

			h3 {
				margin: 0;
				color: var(--text-dark);
				font-weight: 700;
				font-size: 1.35rem;
				padding-bottom: 5px;
			}

			h4 {
				margin: 0;
				color: var(--text-dark);
				font-weight: 500;
				font-size: 1.15rem;
				line-height: 23px;
			}

			ion-textarea {
				font-size: 1rem !important;
				letter-spacing: .5px !important;
			}

			ion-label {
				color: var(--text-dark) !important;
				font-weight: 700 !important;
				font-size: 1.35rem !important;
			}
		}
	}
}

ion-footer {
	background: var(--white);
	padding: 10px 10px 20px 10px;

	ion-row {
		width: 100%; 

		ion-col {
			padding: 0 10px;
		}
	}
}