<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-toolbar>
				<ion-back-button  text="Back" icon="chevron-back-outline"></ion-back-button>
				
			</ion-toolbar>
		</ion-buttons>
		<ion-title>

		</ion-title>
	</ion-toolbar>
	<h1>
		{{'appointment_info' | translate}}
		<small>{{'booked_on' | translate}} {{currentRequest?.provider_date| date:'EEEE, MMMM d, y'}}</small>
	</h1>
</ion-header>


<ion-content fullscreen>
	<div class="form">
		<ion-list lines="none">
			<ion-item>
				<div class="item_inner">
					<h2>{{'your_appointment_for' | translate}}</h2>
					<h3>{{job?.category}}</h3>
					
				</div>
			</ion-item>

			<ion-item>
				<div class="item_inner">
					<h2>Name</h2>
					<h3>{{name}}</h3> 
				</div>
			</ion-item>

			<ion-item>
				<div class="item_inner">
					<h2>{{'date_time' | translate}}</h2>
					<h3>{{currentRequest?.provider_date| date:'EEEE, MMMM d, y'}}</h3><br>
					<h3>{{currentRequest?.provider_time}}</h3>  
				</div>
			</ion-item>

			<ion-item>
				<div class="item_inner">
					<h2>{{'location_at' | translate}}</h2>
					<h3>{{job?.adrress_type}}</h3>
					<h4> {{job?.address}} </h4>
				</div>
			</ion-item>
			
			
			
			<ion-item>
				<div class="item_inner">
					<h2>Additional Information</h2>
				 
					<h4>{{job?.information}}</h4>
				</div>
			</ion-item>

			<ion-item>
				<div class="item_inner">
					<h2>Payment Information</h2>
					<h3>Paid</h3>
					<h4> card payment(viza),<br>2021.01.03 </h4>
				</div>
			</ion-item>

		</ion-list>
	</div>
</ion-content>
