<ion-header class="bg_transparent">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title><img src="assets/images/light_logo.png"></ion-title>
	</ion-toolbar>
	<div class="header_bg">
		<img src="assets/images/header_bg.png">
	</div>
	<div class="search_box d-flex">
		<ion-icon class="zmdi zmdi-search ion-text-start"></ion-icon>
		<ion-searchbar class="ion-no-padding" searchIcon="hide" placeholder="{{'search_text' | translate}}"></ion-searchbar>
	</div>
</ion-header>

<ion-content>
	<div class="services">
		
		<h2>{{'services' | translate}}</h2>
		<h2 class="d-flex"> <span class="end ion-text-end" (click)="view_cat()">{{'view_all' | translate}}</span></h2>
		<div class="container">
			<div class="item" *ngFor="let cat of categories;index as i">
			  <div *ngIf="cat?.main"
				class="container-wrapper" [style.background-image]="getUrl(cat.img)"
				style="background-size: cover;
			background-position: center;"
			(click)="adddetails()"
			  >
				<div class="overlay">
				  <div class="service-title">{{cat?.name}}</div>
				</div>
			  </div>
			</div>
		  </div>

	</div>

	<ion-list lines="none">
		<h2 class="d-flex">{{'upcoming_appointment' | translate}} <span class="end ion-text-end" (click)="view_all()">{{'view_all' | translate}}</span></h2>
		<ion-item (click)="appointment_info()"> 
			<div class="item_inner d-flex">
				<div class="date_time">
					<h3>13 June</h3>
					<h4>11:00 am</h4>
					<h5 class="d-flex">
						<ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
						Home
					</h5>
				</div>
				<div class="appointment_details">
					<h3> Fix my Appliances </h3>
					<h4>Air Conditionar</h4>
					<h5>$140.00</h5>
				</div>
			</div>
		</ion-item>
	</ion-list>
</ion-content>
