<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
		</ion-buttons>
		<ion-title>
			<ion-icon class="zmdi zmdi-circle active"></ion-icon>
			<ion-icon class="zmdi zmdi-circle active"></ion-icon>
			<ion-icon class="zmdi zmdi-circle"></ion-icon>
		</ion-title>
	</ion-toolbar>
	<h1>Confirm Information</h1>
</ion-header>


<ion-content fullscreen>
	<div class="form">
		<ion-list lines="none">

			<ion-item>
				<div class="item_inner">
					<h2>{{'your_appointment_for' | translate}}</h2>
					<h3><label>{{category}}</label></h3>
					<h4><label></label></h4>
				</div>
			</ion-item>

			<ion-item>
				<div class="item_inner">
					<h2>{{'Confirm for' | translate}}</h2>
					<label>{{date| date:'EEEE, MMMM d, y'}}</label><br><label>{{time}}</label>
				</div>
				
			</ion-item>

			<ion-item>
				<div class="item_inner">
					<h2>{{'location_at' | translate}}</h2>
					<label>{{address}}</label>
					
				</div>
			</ion-item>
			
			
			
			<ion-item>
				<div class="item_inner">
					<h2>{{'Confirmed Budject' | translate}}</h2>
					<label> {{budject| currency:'Rs. '}}</label>
				</div>
			</ion-item>

			<ion-item>
				<div class="item_inner" *ngIf=checkestimate()>
					<h2 *ngIf=checkestimate()>{{'Estimated Hourses' | translate}}</h2>
					<label *ngIf=checkestimate()> {{estimate}}</label>
				</div>
			</ion-item>

		 
		</ion-list>
	</div>
</ion-content>

<ion-footer class="ion-no-border d-flex">
	<ion-row>
		 <ion-col size="12">
			 <ion-button size="large" fill="outline" shape="block" class="btn end" (click)=confirmappoinment()>Confirm</ion-button>
		 </ion-col>
	</ion-row>
	
</ion-footer>
